@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: NetworkFreeVersion;
  src: local(NetworkFreeVersion), url("../assets/fonts/NetworkFreeVersion.ttf") format("truetype");
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 10px;
}

html,
body {
  width: 100%;
  background-color: #1b1e22;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.box-sm {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 3.5vw;
}

.box-lg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 3.5vw;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.section-heading-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-heading-box h2 {
  font-size: 6.5vw;
  color: #eb335e;
  font-weight: 600;
  margin: 0 0 2.5vw 0;
  font-family: NetworkFreeVersion, "Poppins", sans-serif;
}

.section-heading-box p {
  font-size: 1.75vw;
  font-weight: 400;
  max-width: 100vw;
  text-align: center;
}

.section-heading-box h6 {
  font-size: 1.75vw;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 75vw;
  text-align: center;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-content {
  width: 80%;
  height: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header .header-content .header-left img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2.85vw;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header-content .header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .header-content .header-center a {
  margin: 0 0.5vw;
  font-size: 0.8vw;
  font-weight: 300;
  color: #fff;
  padding: 0.35vw 0.85vw 0.3vw 0.85vw;
  border-radius: 0.35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

header .header-content .header-center a:hover {
  text-decoration: none;
  background-color: rgba(239, 237, 234, 0.1);
}

header .header-content .header-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1vw;
}

header .header-content .header-right a {
  width: 2.25vw;
  height: 2.25vw;
  border-radius: 0.35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: rgba(239, 237, 234, 0.065);
}

header .header-content .header-right a svg {
  width: 1.25vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

header .header-content .header-right a:hover {
  background-color: rgba(239, 237, 234, 0.1);
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero .box-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero .hero-content {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero .hero-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  z-index: 2;
}

.hero .hero-img {
  width: 49vw;
  position: absolute;
  top: 17%;
  left: 32%;
  z-index: 3;
}

.beyond {
  width: 100%;
  background-color: #343a40;
  padding: 7.5vw 0 7.5vw 0;
  position: relative;
}

.beyond .bull-left {
  width: 16vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  bottom: 1vw;
  left: 0;
  z-index: 2;
}

.beyond .bear-right {
  width: 20vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 5vw;
  right: 0;
  z-index: 2;
}

.beyond .diamond {
  width: 22vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 2.5vw;
  left: 5vw;
  z-index: 2;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.beyond .beyond-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5vw 0 0 0;
  position: relative;
}

.beyond .beyond-content .cup {
  width: 20vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(3.5vw, 7.5vw);
          transform: translate(3.5vw, 7.5vw);
  z-index: 2;
}

.beyond .beyond-content p {
  font-size: 1.65vw;
  color: #fff;
  font-weight: 300;
  width: 50%;
  text-align: center;
  position: relative;
  z-index: 5;
  margin: 0;
}

.beyond .beyond-content p.more-w {
  width: 65%;
}

.beyond .beyond-content h6 {
  font-family: NetworkFreeVersion, "Poppins", sans-serif;
  font-size: 3.25vw;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 5;
  margin: 1.5vw 0 0 0;
}

.bag {
  width: 100%;
  position: relative;
  z-index: 3;
}

.bag .bag-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.bag .bag-section-logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 22.5vw;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(0, 3.5vw);
          transform: translate(0, 3.5vw);
}

.bag .bag-figures-box {
  width: 100%;
  height: 32.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bag .bag-figures-box img {
  width: 25%;
  height: 27.5vw;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.bag .bag-figures-box img:nth-child(1) {
  position: relative;
  z-index: 4;
}

.bag .bag-figures-box img:nth-child(2) {
  position: relative;
  z-index: 3;
}

.bag .bag-figures-box img:nth-child(3) {
  position: relative;
  z-index: 2;
}

.bag .bag-figures-box img:nth-child(4) {
  position: relative;
  z-index: 1;
}

.mindmap {
  width: 100%;
  position: relative;
}

.mindmap .mindmap-head {
  width: 100%;
  background-color: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3.5vw 0;
  margin: 1.5vw 0;
}

.mindmap .mindmap-head h2 {
  font-size: 7.5vw;
  line-height: 7.5vw;
  color: #fff;
  font-family: NetworkFreeVersion, "Poppins", sans-serif;
}

.mindmap .mindmap-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1.5vw;
  position: relative;
  z-index: 5;
}

.mindmap .mindmap-grid main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1.5vw;
}

.mindmap .mindmap-grid .mindmap-grid-card {
  width: 100%;
  height: 100%;
  min-height: 13.5vw;
  background-color: #eb335e;
  padding: 1.5vw;
  color: #fff;
  font-size: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* &:nth-child(1):hover {
        background-color: #4bddeb;
      }
      &:nth-child(2):hover {
        background-color: #bd9bfc;
      }
      &:nth-child(3):hover {
        background-color: #2bdcb7;
      }
      &:nth-child(4):hover {
        background-color: #f79dae;
      }
      &:nth-child(5):hover {
        background-color: #f6c19a;
      } */
  /* &:nth-child(2),
      &:nth-child(3) {
        & > img {
          width: 35vw;
          height: max-content;
          position: absolute;
          top: -5vw;
          right: -5vw;
        }
      } */
  /*  &:nth-child(5) {
        & > img {
          width: 25vw;
          height: max-content;
          position: absolute;
          bottom: -7.5vw;
          right: -3.5vw;
        }
      } */
  /* &:nth-child(2) {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
      }
      &:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/4;
      }
      &:nth-child(5) {
        grid-column: 1/3;
        grid-row: 4/5;
      } */
}

.mindmap .mindmap-grid .mindmap-grid-card:hover img {
  opacity: 1;
}

.mindmap .mindmap-grid .mindmap-grid-card > img {
  width: 10vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mindmap .mindmap-grid .mindmap-grid-card > img {
  width: 28vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: -3vw;
  right: -5vw;
}

.mindmap .mindmap-grid .mindmap-grid-card:nth-child(2) > img {
  width: 30vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: -5vw;
  right: -5vw;
}

.mindmap .mindmap-grid .mindmap-grid-card:nth-child(3) > img {
  width: 18vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  bottom: -5vw;
  right: -2vw;
  top: unset;
}

.mindmap .mindmap-grid .mindmap-grid-card h3 {
  font-size: 3vw;
  font-weight: 500;
  color: #fff;
  position: relative;
  z-index: 22;
  max-width: 65%;
  margin: 0;
}

.mindmap .mindmap-details-box {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  background-color: #fff;
  border-radius: 2.5vw;
  /* position: absolute;
    top: 0;
    left: 0; */
  margin: 1.5vw 0 0 0;
  z-index: 10;
  padding: 3vw;
  overflow: hidden;
  position: relative;
}

.mindmap .mindmap-details-box h3 {
  font-size: 5vw;
  color: #1b1e22;
  margin: 0 0 1vw 0;
  font-weight: 700;
  position: relative;
  z-index: 20;
  text-transform: uppercase;
}

.mindmap .mindmap-details-box p {
  font-size: 1.75vw;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  position: relative;
  z-index: 20;
  max-width: 60%;
}

.mindmap .mindmap-details-box p b {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
}

.mindmap .mindmap-details-box .ct-team {
  font-size: 1.75vw;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  position: relative;
  z-index: 20;
  max-width: 90%;
}

.mindmap .mindmap-details-box .ct-team b {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
}

.mindmap .mindmap-details-box > img {
  width: 49vw;
  position: absolute;
  bottom: -13.5vw;
  right: -9.5vw;
  z-index: 15;
}

.mindmap .mindmap-details-box main {
  margin: 1vw 0 0 0;
}

.mindmap .mindmap-details-box main h4 {
  font-size: 2.5vw;
  color: #1b1e22;
  font-weight: 700;
  margin: 0 0 1.5vw 0;
}

.mindmap .mindmap-details-box main h4 span {
  background-color: #eb335e;
  color: #fff;
  font-size: 1.75vw;
  border-radius: 0.25vw;
  font-weight: 500;
  padding: 0.25vw 1vw;
  margin: 0 0 0 0.75rem;
}

.mindmap-details-box .team-overview-grid img {
  width: 9.5vw;
  height: 9.5vw;
  margin: 2.5vw 0 0 0;
}

.bags-collection {
  width: 100%;
  padding: 5vw 0 0 0;
}

.bags-collection .section-heading-box p {
  width: 70%;
}

.bags-collection .bags-c-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bags-collection .bags-c-content p {
  font-size: 1.75vw;
  font-weight: 400;
  text-align: center;
  width: 75%;
}

.bags-collection .box-c-grid {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 3.5vw 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 3.5vw;
}

.bags-collection .box-c-grid img {
  width: 13vw;
}

.team {
  padding: 5vw 0;
}

.team .section-heading-box p {
  width: 70%;
}

.team .team-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.team .team-content .bags-2 {
  width: 12vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: -20.5vw;
  left: 9vw;
  z-index: 2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.team .team-content .cup {
  width: 17vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 15vw;
  right: 0vw;
  z-index: 2;
}

.team .team-content .diamond {
  width: 12.5vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  bottom: 0vw;
  left: 3.5vw;
  z-index: 2;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.team .team-card-grid {
  width: 100%;
  /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2.5vw;
  margin: 15vw 0 0 0;
  z-index: 3;
  position: relative;
}

.team .team-card-grid .team-card {
  width: 100%;
  padding: 2.5vw;
  background-color: #fff;
  border-radius: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 90vh;
}

.team .team-card-grid .team-card .team-card-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team .team-card-grid .team-card .team-card-content img {
  width: 15vw;
  height: 15vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.team .team-card-grid .team-card .team-card-content h3 {
  font-size: 4vw;
  font-weight: 600;
  margin: 1.5vw 0;
  text-transform: none;
}

.team .team-card-grid .team-card .team-card-content p {
  font-size: 1.75vw;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

.team .team-card-grid .team-card:nth-child(1) h3,
.team .team-card-grid .team-card:nth-child(1) p {
  color: #144f70;
}

.team .team-card-grid .team-card:nth-child(2) h3,
.team .team-card-grid .team-card:nth-child(2) p {
  color: #643298;
}

.team .team-card-grid .team-card:nth-child(3) h3,
.team .team-card-grid .team-card:nth-child(3) p {
  color: #006d77;
}

.team .team-card-grid .team-card:nth-child(4) h3,
.team .team-card-grid .team-card:nth-child(4) p {
  color: #882967;
}

.team .team-card-grid .team-card:nth-child(5) h3,
.team .team-card-grid .team-card:nth-child(5) p {
  color: #503b31;
}

.team-overview-grid {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2vw;
  margin: 2.5vw 0 2vw 0;
}

.team-overview-grid img {
  width: 11.5vw;
  height: 11.5vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.faq {
  width: 100%;
}

.faq .faq-content {
  margin: 0 auto 5vw auto;
  position: relative;
  width: 78%;
}

.faq .faq-content .bags-2 {
  width: 20vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  bottom: 0;
  right: -20vw;
}

.faq .faq-content .faq-box {
  width: 100%;
  margin: 0 0 2.5vw 0;
}

.faq .faq-content .faq-box h4 {
  font-size: 3.5vw;
  font-weight: 600;
  color: #fff;
  margin: 0 0 1vw 0;
  text-align: center;
}

.faq .faq-content .faq-box p {
  font-size: 1.75vw;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5vw 0;
  border-top: 1px solid #343a40;
}

footer p {
  font-size: 1.5vw;
  color: #343a40;
  text-align: center;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */