@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: NetworkFreeVersion;
  src: local(NetworkFreeVersion),
    url("../assets/fonts/NetworkFreeVersion.ttf") format("truetype");
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  font-size: 10px;
}
html,
body {
  width: 100%;
  background-color: #1b1e22;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.box-sm {
  width: 100%;
  height: 100%;
  // max-width: 1250px;
  margin: 0 auto;
  padding: 0 3.5vw;
}
.box-lg {
  width: 100%;
  height: 100%;
  // max-width: 1500px;
  margin: 0 auto;
  padding: 0 3.5vw;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.section-heading-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 6.5vw;
    color: #eb335e;
    font-weight: 600;
    margin: 0 0 2.5vw 0;
    font-family: NetworkFreeVersion, "Poppins", sans-serif;
  }
  p {
    font-size: 1.75vw;
    font-weight: 400;
    max-width: 100vw;
    text-align: center;
  }
  h6 {
    font-size: 1.75vw;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 75vw;
    text-align: center;
  }
}
// Header
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #1b1e22;
  .header-content {
    width: 80%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .header-left {
      img {
        width: max-content;
        height: 2.85vw;
        object-fit: contain;
      }
    }
    .header-center {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      a {
        margin: 0 0.5vw;
        font-size: 0.8vw;
        font-weight: 300;
        color: #fff;
        padding: 0.35vw 0.85vw 0.3vw 0.85vw;
        border-radius: 0.35vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s;
        &:hover {
          text-decoration: none;
          background-color: rgba(239, 237, 234, 0.1);
        }
      }
    }
    .header-right {
      display: grid;
      grid-template-columns: max-content max-content max-content;
      grid-template-rows: auto;
      grid-gap: 1vw;
      a {
        width: 2.25vw;
        height: 2.25vw;
        border-radius: 0.35vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s;
        background-color: rgba(239, 237, 234, 0.065);
        svg {
          width: 1.25vw;
          height: max-content;
        }
        &:hover {
          background-color: rgba(239, 237, 234, 0.1);
        }
      }
    }
  }
}
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  .box-lg {
    display: flex;
    align-items: flex-end;
  }
  .hero-content {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .hero-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    z-index: 2;
  }
  .hero-img {
    // height: 90%;
    width: 49vw;
    position: absolute;
    top: 17%;
    left: 32%;
    z-index: 3;
  }
}
.beyond {
  width: 100%;
  background-color: #343a40;
  padding: 7.5vw 0 7.5vw 0;
  position: relative;
  .bull-left {
    width: 16vw;
    height: max-content;
    position: absolute;
    bottom: 1vw;
    left: 0;
    z-index: 2;
  }
  .bear-right {
    width: 20vw;
    height: max-content;
    position: absolute;
    top: 5vw;
    right: 0;
    z-index: 2;
  }
  .diamond {
    width: 22vw;
    height: max-content;
    position: absolute;
    top: 2.5vw;
    left: 5vw;
    z-index: 2;
    transform: rotate(1deg);
  }
  .beyond-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5vw 0 0 0;
    position: relative;
    .cup {
      width: 20vw;
      height: max-content;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(3.5vw, 7.5vw);
      z-index: 2;
    }
    p {
      font-size: 1.65vw;
      color: #fff;
      font-weight: 300;
      width: 50%;
      text-align: center;
      position: relative;
      z-index: 5;
      margin: 0;
    }
    p.more-w {
      width: 65%;
    }
    h6 {
      font-family: NetworkFreeVersion, "Poppins", sans-serif;
      font-size: 3.25vw;
      color: #fff;
      text-align: center;
      position: relative;
      z-index: 5;
      margin: 1.5vw 0 0 0;
    }
  }
}
.bag {
  width: 100%;
  position: relative;
  z-index: 3;
  .bag-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .bag-section-logo {
    width: max-content;
    height: 22.5vw;
    object-fit: contain;
    transform: translate(0, 3.5vw);
  }
  .bag-figures-box {
    width: 100%;
    height: 32.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      width: 25%;
      height: 27.5vw;
      object-fit: contain;
      object-position: bottom;
      transform: scale(1.35);
      &:nth-child(1) {
        position: relative;
        z-index: 4;
      }
      &:nth-child(2) {
        position: relative;
        z-index: 3;
      }
      &:nth-child(3) {
        position: relative;
        z-index: 2;
      }
      &:nth-child(4) {
        position: relative;
        z-index: 1;
      }
    }
  }
}
.mindmap {
  width: 100%;
  position: relative;
  .mindmap-head {
    width: 100%;
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5vw 0;
    margin: 1.5vw 0;
    h2 {
      font-size: 7.5vw;
      line-height: 7.5vw;
      color: #fff;
      font-family: NetworkFreeVersion, "Poppins", sans-serif;
    }
  }
  .mindmap-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5vw;
    position: relative;
    z-index: 5;
    main {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 1.5vw;
    }
    .mindmap-grid-card {
      width: 100%;
      height: 100%;
      min-height: 15vw;
      background-color: #eb335e;
      // border-radius: 1.25vw;
      padding: 1.5vw;
      color: #fff;
      font-size: 5vw;
      display: flex;
      align-items: flex-end;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        img {
          opacity: 1;
        }
      }
      /* &:nth-child(1):hover {
        background-color: #4bddeb;
      }
      &:nth-child(2):hover {
        background-color: #bd9bfc;
      }
      &:nth-child(3):hover {
        background-color: #2bdcb7;
      }
      &:nth-child(4):hover {
        background-color: #f79dae;
      }
      &:nth-child(5):hover {
        background-color: #f6c19a;
      } */
      & > img {
        width: 10vw;
        height: max-content;
        position: absolute;
        bottom: 0;
        right: 0;
        // opacity: 0.35;
        transition: 0.5s;
      }
      & > img {
        width: 35vw;
        height: max-content;
        position: absolute;
        top: -5vw;
        right: -5vw;
      }
      &:nth-child(3) {
        & > img {
          width: 20vw;
          height: max-content;
          position: absolute;
          bottom: -5vw;
          right: 0vw;
          top: unset;
        }
      }
      /* &:nth-child(2),
      &:nth-child(3) {
        & > img {
          width: 35vw;
          height: max-content;
          position: absolute;
          top: -5vw;
          right: -5vw;
        }
      } */
      /*  &:nth-child(5) {
        & > img {
          width: 25vw;
          height: max-content;
          position: absolute;
          bottom: -7.5vw;
          right: -3.5vw;
        }
      } */
      /* &:nth-child(2) {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
      }
      &:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/4;
      }
      &:nth-child(5) {
        grid-column: 1/3;
        grid-row: 4/5;
      } */
      h3 {
        font-size: 5vw;
        font-weight: 500;
        color: #fff;
        position: relative;
        z-index: 22;
        max-width: 65%;
      }
    }
  }
  .mindmap-details-box {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    background-color: #fff;
    border-radius: 2.5vw;
    /* position: absolute;
    top: 0;
    left: 0; */
    margin: 1.5vw 0 0 0;
    z-index: 10;
    padding: 5vw;
    overflow: hidden;
    position: relative;
    h3 {
      font-size: 8.5vw;
      color: #1b1e22;
      margin: 0 0 2.5vw 0;
      font-weight: 700;
      position: relative;
      z-index: 20;
      text-transform: uppercase;
    }
    p {
      font-size: 2.25vw;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.85);
      position: relative;
      z-index: 20;
      max-width: 60%;
      b {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.75);
      }
    }
    & > img {
      width: 65vw;
      position: absolute;
      bottom: -7.5vw;
      right: -7.5vw;
      z-index: 15;
    }
    main {
      margin: 5vw 0 0 0;
      h4 {
        font-size: 3vw;
        color: #1b1e22;
        font-weight: 700;
        margin: 0 0 1.5vw 0;
        span {
          background-color: #eb335e;
          color: #fff;
          font-size: 1.75vw;
          border-radius: 0.25vw;
          font-weight: 400;
          padding: 0.25vw 1vw;
        }
      }
    }
  }
}
.mindmap-details-box .team-overview-grid img {
  width: 12.5vw;
  height: 12.5vw;
  margin: 2.5vw 0 0 0;
}
.bags-collection {
  width: 100%;
  padding: 10vw 0 0 0;
  .bags-c-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 2.5vw;
      font-weight: 400;
      text-align: center;
    }
  }
  .box-c-grid {
    width: max-content;
    margin: 3.5vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3.5vw;
    img {
      width: 25vw;
    }
  }
}
.team {
  padding: 10vw 0;
  .team-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .bags-2 {
      width: 20vw;
      height: max-content;
      position: absolute;
      top: -27.5vw;
      left: 15vw;
      z-index: 2;
    }
    .cup {
      width: 25vw;
      height: max-content;
      position: absolute;
      top: 15vw;
      right: 0vw;
      z-index: 2;
    }
    .diamond {
      width: 12.5vw;
      height: max-content;
      position: absolute;
      bottom: 0vw;
      left: 3.5vw;
      z-index: 2;
      transform: rotateY(180deg);
    }
  }

  .team-card-grid {
    width: 100%;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2.5vw;
    margin: 7.5vw 0 0 0;
    z-index: 3;
    position: relative;
    .team-card {
      width: 100%;
      padding: 3.5vw;
      background-color: #fff;
      border-radius: 1.5vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      min-height: 90vh;
      .team-card-content {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          width: 20vw;
          height: 20vw;
          object-fit: contain;
        }
        h3 {
          // font-family: NetworkFreeVersion, "Poppins", sans-serif;
          font-size: 4vw;
          font-weight: 600;
          margin: 1.5vw 0;
        }
        p {
          font-size: 2vw;
          color: rgba(0, 0, 0, 0.5);
          text-align: center;
        }
      }
      &:nth-child(1) {
        h3,
        p {
          color: #144f70;
        }
      }
      &:nth-child(2) {
        h3,
        p {
          color: #643298;
        }
      }
      &:nth-child(3) {
        h3,
        p {
          color: #006d77;
        }
      }
      &:nth-child(4) {
        h3,
        p {
          color: #882967;
        }
      }
      &:nth-child(5) {
        h3,
        p {
          color: #503b31;
        }
      }
    }
  }
}
.team-overview-grid {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5vw;
  margin: 2.5vw 0 10vw 0;
  img {
    width: 15vw;
    height: 15vw;
    object-fit: contain;
  }
}
.faq {
  width: 100%;
  .faq-content {
    margin: 2.5vw auto 5vw auto;
    position: relative;
    width: 75%;
    .bags-2 {
      width: 20vw;
      height: max-content;
      position: absolute;
      bottom: 0;
      right: -20vw;
    }
    .faq-box {
      width: 100%;
      margin: 0 0 2.5vw 0;
      h4 {
        font-size: 3.5vw;
        font-weight: 600;
        color: #fff;
        margin: 0 0 1vw 0;
        text-align: center;
      }
      p {
        font-size: 1.75vw;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.65);
        text-align: center;
      }
    }
  }
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5vw 0;
  border-top: 1px solid #343a40;
  p {
    font-size: 1.75vw;
    color: #343a40;
    text-align: center;
    margin: 0;
  }
}
